*.pyc
.installed.cfg
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/buildout
bin/easy_install
bin/easy_install-2.7
bin/instance
bin/pip
bin/pip-2.7
bin/python
bin/python2
bin/python2.7
include/
lib/
parts/
var/
